@font-face {
	font-family: 'Font';
	/*src: url('../dist/fonts/DMSans-Bold.eot');*/
	src: /*url('../dist/fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),*/ url('../dist/fonts/DMSans-Bold.woff2')
			format('woff2'),
		url('../dist/fonts/DMSans-Bold.woff') format('woff'),
		url('../dist/fonts/DMSans-Bold.ttf') format('truetype')
			/*,
		url('../dist/fonts/DMSans-Bold.svg#Font-XBold') format('svg')*/;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Font';
	/*src: url('../dist/fonts/DMSans-Regular.eot');*/
	src: /*url('../dist/fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),*/ url('../dist/fonts/DMSans-Regular.woff2')
			format('woff2'),
		url('../dist/fonts/DMSans-Regular.woff') format('woff'),
		url('../dist/fonts/DMSans-Regular.ttf') format('truetype')
			/*,
		url('../dist/fonts/DMSans-Regular.svg#Font-XBold') format('svg')*/;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Font';
	/*src: url('../dist/fonts/DMSans-Light.eot');*/
	src: /*url('../dist/fonts/DMSans-Light.eot?#iefix') format('embedded-opentype'),*/ url('../dist/fonts/DMSans-Light.woff2')
			format('woff2'),
		url('../dist/fonts/DMSans-Light.woff') format('woff'),
		url('../dist/fonts/DMSans-Light.ttf') format('truetype')
			/*,
		url('../dist/fonts/DMSans-Light.svg#Font-XBold') format('svg')*/;
	font-weight: 300;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Font';
	color: var(--main);
	line-height: 1.1em;
	text-align: center;
	font-weight: 700;
}

h1 {
	font-size: 76px;
	letter-spacing: -0.02em;
	@media (max-width: 991px) {
		font-size: 61px;
	}
	@media (max-width: 767px) {
		font-size: 47px;
	}
	@media (max-width: 575px) {
		font-size: 44px;
		margin: 0;
		line-height: 0.95em;
	}
	@media (max-width: 424px) {
		font-size: 40px;
	}
}

h2 {
	font-size: 37px;
	margin-bottom: 25px;
	@media (max-width: 991px) {
		font-size: 31px;
	}
	@media (max-width: 767px) {
		font-size: 25px;
	}
	@media (max-width: 424px) {
		font-size: 22px;
	}
}

h5 {
	font-size: 19px;
	line-height: 1.3em;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		font-size: 16px;
		line-height: 1.35em;
	}
}

h6 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.05em;
	font-weight: 700;
}

p {
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: center;
	margin: 0 auto 20px;
	color: var(--font);
	@media (max-width: 767px) {
		font-size: 12px;
		line-height: 1.5em;
	}
	&.featured {
		font-size: 18px;
		line-height: 1.5em;
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
}

strong {
	color: var(--main);
	font-weight: 500;
}

ul {
	color: var(--font);
	font-weight: 200;
	padding-inline-start: 0px;
	list-style-type: none;
	margin-bottom: 1rem;
	li {
		font-size: 14px;
		line-height: 21px;
		font-weight: 200;
		-webkit-padding-start: 0px;
		padding-inline-start: 0px;
		padding-bottom: 0;
		&:before {
			background-image: none;
			content: '·';
			left: -10px;
			font-weight: 800;
			top: 3px;
			font-size: 19px;
			color: var(--main);
			display: inline-block;
			margin-right: 5px;
		}
	}
}
