@keyframes words {
	0%,
	100% {
		opacity: 0.2;
	}

	60% {
		opacity: 1;
	}
}

@-webkit-keyframes words {
	0%,
	100% {
		opacity: 0.2;
	}

	60% {
		opacity: 1;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
