@import './lib/bootstrap.min.scss';
@import './lib/animate.scss';

//////// Variables
@import './parts/variables.scss';

//////// Fonts
@import './parts/fonts.scss';

//////// RESET & BUTTONS

body {
	font-family: 'Font';
	font-weight: 400;
	color: #333333;
	&.loading {
		overflow: hidden;
		height: 100.1vh;
		width: 100%;
	}
}

#sb-site {
	background-color: $background;
}

img {
	width: 100%;
}
a {
	cursor: pointer;
	outline: none;
	transition: 0.3s all ease-in-out;
	text-decoration: none;
	font-weight: 200;
	color: $primary;
	&:hover {
		color: $secondary;
		text-decoration: none;
	}
}

.button {
	text-align: center;
	margin: 5px auto;
	display: table;
	padding: 19px 37px 17px;
	border-radius: 7px;
	color: #fff;
	font-size: 16px;
	line-height: 15px;
	font-weight: 400;
	letter-spacing: 0.04em;
	text-decoration: none;
	transition: 0.35s all ease-in-out;
	&:hover {
		color: #fff;
		opacity: 1;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: $secondary;
}

h1 {
	font-size: 54px;
	line-height: 60px;
	font-weight: 800;
	letter-spacing: -0.02em;
}

h2 {
	font-weight: 800;
	font-size: 37px;
	line-height: 43px;
	color: $secondary;
}

h3 {
	font-size: 28px;
	font-weight: 800;
	letter-spacing: 0;
	line-height: 37px;
}
h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 800;
	color: $secondary;
	margin-bottom: 10px;
}

h6 {
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.15em;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 200;
	text-align: center;
	margin: 0 auto 20px;
	letter-spacing: 0.01em;
	color: $font;
}

strong {
	color: $secondary;
	font-weight: 600;
}

hr {
	height: 5px;
	width: 40px;
	border: 0;
	margin-top: 25px;
	margin-bottom: 30px;
}

ul {
	color: $font;
	font-weight: 200;
	padding-inline-start: 0px;
	list-style-type: none;
	margin-bottom: 1rem;
	li {
		font-size: 14px;
		line-height: 21px;
		font-weight: 200;
		-webkit-padding-start: 0px;
		padding-inline-start: 0px;
		padding-bottom: 0;
		&:before {
			background-image: none;
			content: '·';
			left: -10px;
			font-weight: 800;
			top: 3px;
			font-size: 19px;
			color: $primary;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

//////// NAVIGATION

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 40px;
}

//////// FOOTER

footer {
	background: #fff;
	margin-top: 30px;
	.prefooter {
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		margin-bottom: 45px;
		.row {
			align-items: center;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		h5 {
			text-align: left;
			margin: 0;
			margin-top: 3px;
		}
	}
	.main-logo {
		width: auto;
	}
}

//////// ICONS
.opening-icon {
	width: 54px;
	height: 54px;
	margin: 0 auto 30px;
	display: table;
}

#opening {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#content {
	& > .container > .row {
		background: #fff;
		border-radius: 15px;
	}
}

//////// ANIMATIONS

@import './parts/animations.scss';

//////// RESPONSIVE

@import './parts/responsive.scss';
